*

!README.md

!.gitignore
!.gitattributes

!.dockerignore
!Dockerfile

!Makefile.in
!Makefile.am
!configure
!configure.ac
!config.h.in
!compile
!depcomp
!install-sh
!missing

!src/
!src/*

!images/

**/*.swp
